#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.link:hover {
  filter: drop-shadow(0 0 5em #63639baa);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.add-button { 
  border: none; 
  color: black;  
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  transition: background-color 0.3s; 
  margin: 5px;
  transition: transform 0.3s ease-in-out;
} 

.add-button:hover { 
  background-color: #45a049; 
  color: antiquewhite;
  transform: scale(1.1);
}

.remove-button { 
  border: none; 
  color: black; 
  text-align: center; 
  text-decoration: none;  
  display: inline-block;  
  font-size: 16px; 
  transition: background-color 0.3s;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
} 

.remove-button:hover { 
  background-color: red; 
  color: antiquewhite;
  transform: scale(1.1);
}

.user-input { 
  padding: 10px; 
  font-size: 16px; 
  border: 2px solid #ccc; 
  border-radius: 4px; 
  transition: border-color 0.3s, box-shadow 0.3s;
  margin: 5px; 
} 

.user-input:hover { 
  border-color: #777; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


.completed-task { 
  text-decoration: line-through; 
  color: grey; 
} 
  
.pending-task { 
  color: black; 
}

.sign-in {
  margin-top: 10px;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}

.sign-in-google {
  margin-top: 10px;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}

.sign-up {
  margin-top: 10px;
  transition: transform 0.3s ease-in-out;
}

.center {
  margin: auto;
}

.box {
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
}

h1 {
  margin: center;
}

.exit {
  margin: 5px;
  transition: transform 0.3s ease-in-out;
}

.sign-in:hover, .sign-in-google:hover, .sign-up:hover, .exit:hover {
  background-color: #1a1a1a;
  color: antiquewhite;
  transform: scale(1.1);
}

.link{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: text-shadow 0.3s;
}

.link:hover{
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}